@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.course-card {
  // Bloque
  background-color: v.$white;
  border-radius: v.$border-radius;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  overflow: hidden;

  &__image {
    // Elemento
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__content {
    // Elemento
    padding: 1.5rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  &__button {
    @include m.flex-center;
    background-color: v.$primary-color;
    color: v.$white;
    padding: 0.8rem;
    border: none;
    width: 100%;
    cursor: pointer;

    &--featured {
      // Modificador
      background-color: v.$accent-color;
      font-weight: bold;
    }
  }
}
